.left {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    margin: 20px;
    padding: 8px;
    cursor: pointer;
    font-size: 42px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(161, 96, 201);
}

.right {
    margin: 20px;
    padding: 8px;

}

.right ul {
    display: flex;
    margin: 5px;
    padding: 3px;
    gap: 15px;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;

}

.right ul li {
    margin: 0 23px;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 160px 0;

}

.leftsection {
    /* background-color: rgb(248, 27, 27); */

    width: 30%;
    font-size: 42px;
    margin: 30px 0px;
}

.leftsection button {
    color: #f7fd49;
    background-color: #c09bd8;
    padding: 12PX;
    border-radius: 34px;
    font-size: 17px;
    cursor: pointer;
}

.leftsection button:hover {
    background-color: rgb(86, 86, 151);
    font-size: 20px;

}

.rightsection {


    height: 22px;
    width: 30%;


}

.rightsection img {
    top: -178px;
    width: 80%;
    margin: 50px;
    padding: 48px;
    position: relative;
    right: 51px;

}

.purple {
    color: rgb(255, 247, 16);
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(241, 146, 146);
    font-size: 25px;
}

#element {
    color: rgb(255, 247, 16);

}

.secondsection {
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    height: 80vh;


}

main hr {
    border: 2px solid red;
    margin: 4px;
}

.secondsection h1 {
    font-size: 24px;
    font-style: oblique;
    color: crimson;
}

.text-grey {
    color: grey;

}

.secondsection .box {
    background-color: white;
    width: 70vw;
    height: 2px;
    margin: 56px 0px;
    display: flex;
}

.vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;

}

.verticaltext {
    top: 75px;
    position: relative;
    width: 150px;


}

.vertical-desc {
    position: relative;
    top: 100px;
    color: gray;
    width: 150px;
    font-size: 12px;
    cursor: pointer;
}


/* .skill{
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    height: 80vh;

}
.skill h1{
    font-size: 24px;
    font-style: oblique;
    color: crimson;
}
.box.box{
    background-color: white;
    width: 70vw;
    height: 2px;
    margin: 56px 0px;
    display: flex;
} */

.footer {
    background-color: rgb(161, 96, 201);

    justify-content: space-evenly;
    display: flex;


}

.footer-first {
    display: flex;
    margin: 10px;
}

.footer-right {
    text-align: center;
    color: gray;
    justify-content: center;
}