* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-image: url(https://i.pinimg.com/originals/73/4c/78/734c78d20ace1d7ec2e69f24ddf70a7e.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    text-align: center;
    position: relative;
    left: 37vw;
    padding: 25px;
    width: 26vw;
    top: 11vw;
    margin: 32px;
    background-color: white;
    border-radius: 15px;

}

.display {
    font-size: 80px;
    color: black;
    left: 4%;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: white;
    box-shadow: rgb(17, 15, 15);
}

.button {
    margin: 60px auto auto;
    padding: 20px;
    background-color: white;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.button button {
    width: 120px;
    height: 45px;
    position: relative;
    gap: 13px;
    margin: 4px;
    background-color: aqua;
    cursor: pointer;
    border-radius: 7px;
}

.button button:nth-child(2) {
    background-color: rgb(237, 184, 86);
}

.button button:nth-child(1) {
    background-color: rgb(225, 66, 55);
}

.button button:nth-child(3) {
    background-color: rgb(91, 248, 91);
}